header {
    padding: 22px 0;
    height: 100px;

}

body {
    width: 100%;
    position: relative;
    background: white;
    font-size: 16px;
    font-family: 'Cairo', sans-serif !important;
    overflow-x: hidden;
}

.logo {
    width: 170px;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

form {
    margin: 0
}

.btn {
    display: inline-flex;
    justify-content: center;
    border-radius: 8px;
    transition: all .5s;
}

.btn:hover {
    transition: all .5s;
}

.btn span {
    align-self: center;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.headerBtn {
    background-color: #212D7C;
    color: white;
    width: 110px;
    height: 42px;
    margin-left: 9px;
    border: 1px solid #212D7C
}

.headerBtn:hover {
    background-color: transparent;
    color: #212D7C
}

.cartHeaderBtn {
    border: 1px solid #E8E8E8;
    width: 42px;
    height: 42px;
    COLOR: #212D7C;
    font-size: 20px;
}

.cartHeaderBtn:hover {
    background-color: #6A72A7;
    color: white;
}

.lang {
    position: relative;
}

.langBtn {
    position: relative;
}

.lang .dropdown-menu {
    min-width: 20px;
}

.lang .dropdown-menu .dropdown-item {
    padding: 0 15px
}

.dropdown-toggle::after {
    margin-top: 11px
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin: 0 20px;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    color: #808080;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #212D7C
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link:before {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link:before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #212D7C;
    bottom: 0;
    left: 0;
    position: absolute;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
    position: relative
}

.hero:before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.heroText {
    text-align: center;
}

.heroText h1 {
    font-size: 4.5em;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
}

.heroText hr {
    width: 288px;
    background-color: white;
    margin: auto;
    margin-bottom: 47px;

}

.hero p {
    font-size: 1.125em;
    color: white
}

.checkSec {
    background-color: transparent;
    padding-bottom: 43px;
}

.checkForm,
.roomcheckForm {
    background: #FFFFFF;
    box-shadow: 0px 16px 46px rgba(0, 0, 0, 0.06);
    border-radius: 0px 20px;
    margin-top: -52px;
    margin-bottom: 0;
    height: 105px;
    position: relative;

}

.checkForm .form-group {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
    height: calc(100% - 20px)
}

.borderedFormgroup {
    border-right: 1px solid #CACACA;
}

.checkForm label {
    color: #808080;
    font-size: 1.125em;
}

.datepicker {
    margin-top: 10px;
}

.checkForm label {
    margin-bottom: 0;
}

.checkForm .datepicker,
.checkForm .selectric-wrapper {
    border: 0;
    text-align: center;
    font-size: 1.125em;
    color: #000000;
    background-color: transparent;
}

.checkForm .selectric-wrapper {
    width: 200px;
    float: none;
}

.checkForm .datepicker::placeholder {
    text-align: center;
    font-size: 1.125em;
    color: #000000;
}

.checkForm .datepicker:focus {
    border: 0;
    box-shadow: 0;
    outline: 0;
}

.checkForm label i {
    font-size: 14px;
    margin-right: 10px;
}

.checkForm .selectric-wrapper .button {
    font-size: 14px;
    color: black;
    padding: 0;
    align-self: center;
    width: auto;
    height: auto;
    position: relative;
}

.checkForm .selectric .label {
    font-size: 1.125em;
    color: black;
    background-color: transparent;
    text-align: center;
    align-self: center;
    width: 120px;
    padding: 0;
}

.checkForm .selectric {
    display: flex;
    justify-content: center;
}

.selectric-items li.selected {
    display: none;
}

.selectric-items li:hover {
    background-color: #212D7C;
}

.nopadding {
    padding: 0;
    margin: 0;
    height: 100%;
}

.checkForm .row {
    height: 100%;
}

.checkBtn {
    width: 100%;
    height: 100%;
    background-color: #212D7C;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 0;
    border: 1px solid #212D7C
}

.checkBtn:hover {
    background-color: #656c9e;
    color: white;

}

.counterSec {
    padding-top: 54px;
    padding-bottom: 40px;
    background-color: #FAFAFA;
}

.counter h3 {
    color: #212D7C;
    font-size: 3em;
    display: inline-block;
    font-weight: 600;
}

.counter {
    text-align: center;
    margin-bottom: 16px;
}

.counterBox {
    text-align: center;
}

.counterBox span {
    font-weight: 600;
    font-size: 1.25em;
    color: #808080;
}

.mostHotelBox {
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    margin-top: 143px;
    position: relative;
    padding-top: 13px;
    padding-bottom: 100px;
}

.mostHotelBox h5 {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 42px;
    color: #000000;
}

.hotelImg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 55%;
    bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
}

.hotelImg img {
    height: 100%;
    object-fit: cover;
}

.mostHotelBox p {
    font-weight: 400;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
}

.favouritRooms {
    padding-top: 32px;
    padding-bottom: 45px;
}

.sectionTitle h3 {
    float: left;
    font-size: 1.5em;
    color: black;
    font-weight: 600;
}

.sectionTitle a {
    float: right;
    font-size: 1.25em;
    color: #212D7C;
    font-weight: 500;
}

.sectionTitle {
    margin-bottom: 25px;
}

.sectionTitle i {
    margin-left: 8px;
}

.favouritImg {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: 308px;
}

.favouritImg img {
    height: 100%;
    object-fit: cover;
}

.favouritBigImg {
    height: 641px;
}

.favouritRoomDetailsBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    padding: 14px;

}

.roomPrice {
    background-color: white;
    padding: 8px 12px;
    color: #212D7C;
    font-weight: 600;
    font-size: .875em;
    border-radius: 6px;
    display: inline-block;
}

.favouritRoomDetails {
    position: absolute;
    bottom: 14px;
    left: 14px;
}

.favouritRoomDetails h6 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 1.5em;
    color: #FFFFFF;
}

.favouritRoomDesc {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    display: flex;
    height: 38px;
    padding: 9px
}

.favouritRoomDesc span {
    align-self: center;
    display: flex;
    margin-right: 12px;
    font-size: 11px;
    font-weight: 500;
    color: white;
}

.favouritBigImg .favouritRoomDesc span {
    margin-right: 20px;
}

.favouritBigImg .favouritRoomDesc {
    padding: 9px 12px
}

.favouritRoomDesc span:last-child {
    margin-right: 0;

}

.favouritRoomDesc span i {
    align-self: center;
    font-size: 17px;
    color: white;
    margin-right: 6px;
}

.favouritRoomDesc span span {
    align-self: center;
}

.smallImgMargin {
    margin-bottom: 25px;
}

.PlacesNearby {
    padding-top: 32px;
    padding-bottom: 45px;
}

.PlacesNearbyDetails {
    position: absolute;
    width: 100%;
    height: 68px;
    left: 0;
    bottom: 0;
    background: rgba(245, 245, 245, 1);
    padding: 20px 18px;
    display: flex;
}

.PlacesNearbyDetails h3,
.PlacesNearbyDetails span {
    align-self: center;

}

.PlacesNearbyDetails span {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 23px;
    color: #0F97AA;
}

.PlacesNearbyDetails h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    padding-right: 24px;
    border-right: 1px solid #CACACA;
    margin-right: 24px;

}

.services,
.ourGuset {
    padding-top: 29px;
    padding-bottom: 45px;
    background: #F9F9F9;
}

.ourGuset {
    padding-bottom: 70px;
}

.guestTitle {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 35px;
    color: #000000;
    text-align: center;

}

.guestCar {
    position: relative;
    overflow: hidden;
}

.guestBox {
    height: 254px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 38px 14px;
    border: 1px solid transparent
}

.guestIcon {
    font-size: 2.25em;
    float: right;
    color: #212D7C;
}

.guestBox p {
    font-size: .875em;
    color: black;
    font-weight: bold;
    margin-bottom: 32px;
    max-height: 80px;
    overflow: hidden;
    line-height: 16px;
    opacity: .5;
    font-weight: 400;
}

.guestNameDesc {
    display: flex;
    float: left;
    width: 80%;
}

.guestDetails {
    display: flex;
    justify-content: space-between;
}

.clientRating {
    margin-left: auto;
    align-self: center;
    float: right;

}

.guestImg {
    width: 45px;
    height: 45px;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    margin-right: 11px;
}

.guestImg img {
    height: 100%;
    object-fit: cover;
}

.guestName {
    align-self: center;
}

.guestName h6 {
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 5px;
}

.guestName span {
    font-size: .875em;
    font-weight: 700;
    opacity: .5;
}

.guestCar .owl-stage-outer,
.serviceCar .owl-stage-outer,
.aboutSliderSec .owl-stage-outer {
    overflow: visible;
}

.guestCar .owl-stage-outer .owl-item,
.serviceCar .owl-stage-outer .owl-item {
    opacity: 0;
}

.guestCar .owl-stage-outer .owl-item.active,
.serviceCar .owl-stage-outer .owl-item.active {
    opacity: 1;
}

.guestBox:hover {
    transition: all .5s;
}

.guestBox:hover {
    border: 1px solid var(--secondMainColor);
    transition: all .5s;
    margin-top: -5px;
    box-shadow: 0 0 10px var(--box-shadow);
}

.owl-dots {
    text-align: center;
    margin-top: 64px;
}

.owl-dot {
    width: 8px;
    height: 6px;
    margin-right: 6px;
    background: #6A72A7;
    border-radius: 3px;
    transition: all .5s;
    outline: 0;
    border: 0;
    box-shadow: none;
    padding: 0
}

.owl-dot.active {
    width: 31px;
    background-color: #212D7C;
    transition: all .5s;
}

footer {
    padding-top: 33px;
    padding-bottom: 19px;
    color: white;
    background-color: #212D7C;
}

.footerLogo {
    width: 232px;
    margin-bottom: 63px;
    height: 56px;

}

.footerList li {
    margin-bottom: 33px;
}

.footerList li a {
    font-weight: 400;
    font-size: 1.125em;
    color: white
}

.footerList li:hover a {
    color: #6A72A7;
}

.footerList i {
    margin-right: 26px;

}

.checkLinkmap {
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 40px;
}

.checkLinkmap:hover {
    text-decoration: underline;
}

.footerTitle {
    height: 56px;
    margin-bottom: 63px;

}

.footerTitle h4 {
    font-weight: 600;
    font-size: 1.5em;
    position: relative;
}

.footerTitle h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 60px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
}

.footerLinks li {
    width: 48%;
    display: inline-block;
}

.subscribeBox {
    height: 48px;
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.subscribeBox {
    margin-bottom: 48px;
}

.subscribeBox .form-control {
    background-color: white;
    width: 100%;
    border-radius: 6px;
    height: 48px;
}

.form-control::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

.subscribeBtn {
    position: absolute;
    right: 0;
    top: 0;
    background: #6A72A7;
    border-radius: 0px 6px 6px 0px;
    width: 129px;
    z-index: 1;
    height: 100%;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid #6A72A7
}

.subscribeBtn:hover {
    background-color: white;
    color: #6A72A7
}

.socialIcons li {
    display: inline-block;
    margin-right: 40px;
    font-size: 18px;
}

.socialIcons li:hover a {
    color: #6A72A7
}

.socialIcons li i {
    margin-right: 0;
}

.socialIcons li:last-child {
    margin-right: 0;
}

.copy {
    padding-top: 33px;
    border-top: 1px solid rgba(202, 202, 202, 0.5);
    margin-top: 29px;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

.servicesList {
    position: relative;
    z-index: 999;
}

.servicesList li {
    display: flex;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 28px
}

.servicesList li:hover {
    background-color: white;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}

.serviceIcon {
    width: 39px;
    margin-right: 27px;
    align-self: center;
}

.serviceDetails {
    align-self: center;
}

.serviceDetails h5 {
    font-size: 1.1em;
    font-weight: 600;
    color: black
}

.serviceDetails span {
    font-size: 1em;
    font-weight: 500;
    color: #808080;
}

.services {
    padding-bottom: 90px;
    overflow: hidden;
}

.services .sectionTitle {
    margin-bottom: 74px;
}

.servicesCarItem {
    border-radius: 12px;
    overflow: hidden;
    width: 80%;
    height: 520px;
    margin: auto;
    margin-top: -30px
}

.servicesCarItem img {
    height: 100%;
    object-fit: cover;
}

.serviceCar {
    background-color: white;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    height: 460px;
}

.serviceCar .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.serviceCar.owl-carousel .owl-nav .owl-next,
.serviceCar.owl-carousel .owl-nav .owl-prev {
    background-color: transparent;
    color: black;
    border: 0;
    font-size: 15px;
    position: absolute;
    left: 18px;

}

.serviceCar.owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 18px;
}

/****/
.innerHeroText h1 {
    text-transform: uppercase;
}

.ourStorySec {
    padding-top: 75px;
    padding-bottom: 140px;
}

.ourStorySec span {
    font-weight: 500;
    font-size: 1em;
    display: block;
    margin-bottom: 16px;
    ;
    color: #212D7C;

}

.ourStoryText h5 {
    font-weight: 600;
    font-size: 3.875em;
    text-transform: uppercase;

    color: #000000;

}

.ourStoryText p {
    font-weight: 400;
    font-size: 1.125em;
    color: #808080;
}

.aboutCarIrem {
    width: 100%;
    height: 520px;
}

.aboutCarIrem img {
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.aboutCar .owl-item.center .aboutCarIrem {
    width: 90%;
    margin: auto;
}

.aboutCar .owl-nav {
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    background-color: transparent;
    color: black;
    border: 0;
    font-size: 15px;
    margin: 0 15px
}

.aboutSliderSec {
    padding-bottom: 60px;
}

.aboutchoose {
    padding-top: 60px;
    padding-bottom: 50px;
}

.aboutSectionTitle h4 {
    font-size: 1.75em;
    text-align: center;
}

.aboutSectionTitle {
    margin-bottom: 54px;
}

.whyBox {
    border-radius: 12px;
    height: 217px;
    margin-bottom: 30px;
    transition: all .5;
    padding: 24px
}

.whyBox:hover,
.awardBox:hover {
    box-shadow: 0px 60px 80px rgba(33, 45, 124, 0.08);
    transition: all .5;
}

.whyIcon {
    margin-bottom: 16px;
}

.whyIcon i {
    font-size: 30px;
    color: #212D7C
}

.whyBox h5 {
    font-weight: 500;
    font-size: 1.75em;
    color: #000000;
    margin-bottom: 19px;
}

.whyBox p {
    font-weight: 400;
    font-size: .875em;
    color: #808080;
}

.AwardsSec {
    padding-top: 50px;
    padding-bottom: 73px;
}

.awardBox {
    height: 358px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.awrdIcon {
    margin: auto;
    width: 144px;
    margin-bottom: 28px;
    height: 144px;
}

.awrdIcon img {
    object-fit: cover;
}

.awardBox h5 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 18px;
}

.awardBox p {
    color: #808080;
    font-size: .875em;
    font-weight: 500;
}

.servicestopSec {
    background: #F9F9F9;
    padding-top: 97px;
    padding-bottom: 81px;
}

.serviceSecIcon {
    font-size: 35px;
    color: #212D7C;
    text-align: center;
    margin-bottom: 19px;
    height: 30px;
}

.serviceSecBox {
    margin-bottom: 55px;
}

.serviceSecBox h3 {
    font-size: 1.125em;
    font-weight: 500;
    color: #212D7C;
    text-align: center;
}

.servicesBody {
    padding-top: 103px;
    padding-bottom: 120px;
}

.serviceSliderItem {
    position: relative;
    width: 100%;

}

.serviceSliderItem::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.serviceCol {
    padding: 0;
}

.serviceSlider .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 22;
    text-align: center;
}

.serviceSlider .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
}

.serviceSlider .owl-dots .owl-dot.active {
    width: 25px;
    border-radius: 3px;
}

.serviceSlider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.serviceSlider .owl-nav button {
    position: absolute;
    top: 0;
    left: 0;
    color: white !important;
    z-index: 99;
}

.serviceSlider .owl-nav button.owl-next {
    left: auto;
    right: 0;
}

.serviceSliderItem img {
    height: 100%;
    object-fit: cover;
}

.servicesSideDetailsHeader {
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 21px;
}

.servicesSideDetailsHeader .serviceIcon {
    width: 40px;
    margin-right: 20px;
}

.servicesSideDetailsHeader h4 {
    align-self: center;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    color: #000000;
}

.serviceSideDetails {
    margin-top: 90px;
}

.firstSide {
    float: right;
}

.secondSide {
    float: left;
}

.serviceSideDetails {
    width: 65%;

}

.serviceSideDetails p {
    font-weight: 500;
    font-size: 1em;
    color: #808080;
    margin-bottom: 41px;
}

.serviceDetailsBtn {
    width: 230px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #212D7C;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.14em;
    text-transform: uppercase;
    color: #212D7C;

}

.serviceDetailsBtn:hover {
    background-color: #212D7C;
    color: white;
}

.serviceDetailsBtn span:last-child {
    margin-left: 11px;

}

.secondSide .servicesSideDetailsHeader .serviceIcon {
    margin-right: 0;
    margin-left: 24PX;
}

.secondSide .serviceDetailsBtn {
    float: right;
}

.servicePAgeForm {
    padding-top: 120px
}

.servicePAgeForm h4 {
    text-align: center;
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 12px;
    color: #212D7C;
}

.servicePAgeForm p {
    font-weight: 500;
    font-size: 1em;
    line-height: 19px;

    text-align: center;
    margin-bottom: 48px;
    color: #808080;
}

.servicePAgeForm .form-control {
    height: 47px;
    background: #FFFFFF;
    border: 1px solid rgba(202, 202, 202, 0.6);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.servicePAgeForm .form-group {
    margin-bottom: 20px;
}

.servicePAgeForm .form-control::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.sendFormBtn {
    margin-top: 20px;
    height: 51px;
    border-radius: 6px;
    width: 100%;
    background-color: #212D7C;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: #F9F9F9;
    border: 1px solid #212D7C;
}

.sendFormBtn:hover {
    background-color: #F9F9F9;
    color: #212D7C
}

.roomBox {
    border-radius: 10px;
    height: 410px;
    margin-bottom: 24px;
    background-color: white;
}

.roomBoxImg {
    position: relative;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    height: 293px;
}

.roomBoxImg:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.roomBoxDesc {
    padding-top: 20px;
    padding-left: 20px;
}

.roomBoxHeader {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

.roomBoxHeader .pricePerNight {
    display: inline-flex;
    background: #FFFFFF;
    border: 2px solid #212D7C;
    border-radius: 4px;
    justify-content: center;
    font-weight: 700;
    font-size: .875em;
    color: #212D7C;
    width: 95px;
    height: 32px;
}

.roomBoxHeader .pricePerNight span {
    align-self: center;
}

.roomBoxHeader h4 {
    font-weight: 600;
    font-size: 26px;
    color: #000000;
}

.roomBoxDetails {
    background-color: white;
}

.roomBoxDetails span i {
    color: #063C43;
}

.roomBoxDetails span span {
    color: #808080
}

.roomBoxDetails span {
    margin-right: 32px;
}

.roomBoxDetails span {
    font-size: .875em;
}

.roomsPageBody {
    padding-top: 43px;
    padding-bottom: 72px;
}

.roomsPageBody .aboutSectionTitle {
    text-align: left;
}

.pagination {
    margin-top: 100px;
    justify-content: center;
}

.page-link {
    font-weight: 500;
    font-size: 24px;
    color: #CACACA;
    border: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    align-self: center;
    display: flex;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    font-size: 14px;
    background: #F9F9F9;
    color: #212D7C
}

.page-item.disabled .page-link {
    background: #F9F9F9;
    color: #CACACA;
}

.page-link i {
    align-self: center;
}

.page-item.active .page-link {
    color: #212D7C
}

.page-item {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-left: 24px;
}

.page-item.active .page-link {
    background-color: transparent;
    border: 0
}

.checkroomBox {
    background: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #CACACA;
    border-radius: 10px;
    margin-right: 25px;
    height: 56px;
}

.checkroomBox .form-group {
    align-self: center;
    border-right: 1px solid #CACACA;
    margin-bottom: 0;
    padding: 0 17px;
    display: flex;
    height: 100%;
}

.calenderIcon {
    align-self: center;
    color: #808080;
    margin-right: 16px;
}

.checkroomBox .datepicker {
    border: 0;
    width: 100px;
    background-color: transparent;
    font-size: 1.125em;
    color: black;
    font-weight: 500;
}

.roomcheckForm {
    height: auto;
    padding: 36px
}

.checkroomBox .form-group:last-child {
    border-right: 0;
}

.checkroomBox .form-group label {
    font-weight: 500;
    font-size: 1.125em;
    color: #808080;
    display: inline-block;
    margin-right: 30px;
    align-self: center;
}

.roomplusMinus {
    display: inline-flex;
}

.roomcheckForm .roomplusMinus .form-control {
    align-self: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 4px;
    align-self: center;
    text-align: center;
}

.roomcheckForm .roomplusMinus input.form-control {
    margin: 0 5px;
    background-color: transparent;
    border: 0;
}

.roomcheckForm .roomplusMinus button.form-control {
    background: #F9F9F9;
    color: #5B5B5B;
    font-size: 12px;
}

.roomcheckForm .datepicker {
    margin: 0;
}

.checkRoomBtn {
    display: inline-flex;
    background: #FFFFFF;
    border: 1px solid #212D7C;
    border-radius: 10px;
    width: 233px;
    height: 56px;
    width: 200px;
    color: #212D7C;
}

.checkRoomBtn:hover {
    background-color: #212D7C;
    color: white;
}

.checkFilterTop {
    margin-bottom: 18px;
}

.optionsTag {
    display: inline-flex;
    height: 34px;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 0 16px;
    justify-content: center;
    font-weight: 500;
    font-size: .875em;
    text-align: center;
    color: #808080;
    position: relative;
    border: 1px solid transparent;
    margin-right: 11px;
}

.optionsTag span {
    align-self: center;
}

.optionsTag i {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 17px;
    background-color: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #CACACA;
    display: none;

}

.moreOptionsBtn {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    color: #063C43;
    position: relative;
}

.moreOptionsBtn:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 17px;
    content: "";
    border-top: 7px solid #212D7C;
    border-right: 7px solid transparent;
    border-bottom: 0;
    border-left: 7px solid transparent;
    align-self: center;
}

.optionsTag:hover i {
    display: block;
}

.optionsTag:hover {
    border: 1px solid #CACACA;
}

.checktext {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 21px;
    color: #808080;
    align-self: center;
    margin: 0;
}

.filterModal {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 20px 33px;
    position: absolute;
    z-index: 9999;
    width: 566px;
    margin-top: 13px;
    display: none;
}

.filterModal h5 {
    font-weight: 600;
    font-size: 1.125em;

    color: #000000;
    margin-bottom: 55px;

}

:focus-visible {
    outline: 0 !important;
}

.ui-slider-horizontal .ui-slider-range {
    height: 8px;
}

.ui-widget.ui-widget-content {
    height: 8px;
    background: #EDEDED;
    border-radius: 4px;
    width: 375px;
}

.ui-slider-horizontal .ui-slider-range {
    background: #212D7C;
    border-radius: 4px;
}

.ui-datepicker table {
    background-color: white;
}

.ui-slider .ui-slider-handle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #6A72A7;
}

.rangeSliderContainer {
    margin-bottom: 34px;
}

.filterList h4 {
    font-weight: 600;
    font-size: 1.125em;
    color: #000000;
    margin-bottom: 13px;
}

.filterList li {
    margin-bottom: 9px;
}

.customRadioContainer {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 1em;
    color: #808080;
    padding-left: 30px;
}

.customRadioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.radiocheckmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #CACACA;
    border-radius: 10px;
}

.customRadioContainer:hover input~.radiocheckmark {
    background-color: white;
}

.customRadioContainer input:checked~.radiocheckmark {
    border: 2px solid #212D7C;
}

.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customRadioContainer input:checked~.radiocheckmark:after {
    display: block;
}

.customRadioContainer .radiocheckmark:after {
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(33, 45, 124, 0.68);
}

.customRadioContainer .checkBoxmark {
    width: 20px;
    height: 20px;
    border: 1px solid #CACACA;
    border-radius: 4px;
}

.customRadioContainer .checkBoxmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-radius: 0;
    background-color: transparent;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.customRadioContainer input:checked~.checkBoxmark {
    border: 1px solid #212D7C;
    background-color: #212D7C
}

.filterContent .filterListPadding {

    padding-right: 30px;
    float: left;
}

.filterContent .filterListPadding:last-child {
    padding-right: 0;
}

#price-range .min,
#price-range .max {
    background-color: #212D7C;
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: -41px;
    left: -17px;

}

#price-range {
    position: relative;
}

.min:after,
.max:after {
    content: "";
    position: absolute;
    top: 99%;
    left: 39%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #212D7C;
    height: calc((.5rem) * 0.8);
    width: calc(.5rem * 1.5);
}

.roomDetailsPageHeader {
    padding-top: 45px
}

.roomDetailsPageBox {
    float: left;
    width: 107px;
    height: 115px;
    text-align: center;
    margin-right: 77px;
    background: #FFFFFF;
    border-radius: 8px;
    transition: all .5s;
    display: flex;
    justify-content: center;
}

.roomDetailsPageBox i {
    color: #212D7C;
    font-size: 30px;
}

.roomDetailsPageBox p {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 16px;
    color: #000000;
}

.roomDetailsPageBox:hover {
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.06);
    transition: all .5s;
}

.roomDetailsPageBox div {
    align-self: center;
}

.bigdetailsImg {
    height: 414px;
}

.roomDetailsPageImag {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.roomDetailsPageImag img {
    height: 100%;
    object-fit: cover;
}

.smallDetailsImg {
    height: 198px;
}

.topDetailsImg {
    margin-bottom: 18px;
}

.roomPageDetailsInnerTitle {
    font-size: 1.5em;
    font-weight: 600;
    color: #000000;
    margin-bottom: 32px;
}

.roomOverView p {
    font-weight: 500;
    font-size: 1em;
    opacity: .5;
    margin-bottom: 14px;
}

.roomOverView {
    padding-bottom: 14px;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 80px;
}

.FreeAmenitiesSec .serviceSecIcon {
    color: black
}

.FreeAmenitiesSec .serviceSecBox h3 {
    color: black
}

.roompagedetailsSlider {
    background-color: #F9F9F9;
    ;
    padding: 44px 0
}

.roomDetailsCont {
    padding: 44px 0;
}

.fc .fc-button {
    background-color: transparent;
    border: 0
}

.fc .fc-button .fc-icon {
    color: black
}

.fc .fc-button:hover {
    background-color: transparent;
    border: 0;

}

.calenderCont {
    padding-top: 46px;
    background: #FFFFFF;
    /* stoke */
    padding-bottom: 50px;
    border: 1.48815px solid #CACACA;
    border-radius: 12px;
}

.fc .fc-toolbar-title {
    margin-left: 18px;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.roomsideBooking {
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid #CACACA;
    border-radius: 12px;
    padding-top: 22px
}

.roomsDetailsImages {
    padding-top: 65px;
    padding-bottom: 100px;
}

.bookingtabs.nav-tabs .nav-link {
    border: 0;
    text-align: center;
    width: 50%;
    padding: 0;
    padding-bottom: 22px;
    border-radius: 0;
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;

    /* body text1 */

    color: #808080;

}

.nav-tabs {
    border-bottom: 1px solid #CACACA;
}

.booking-tab-content {
    padding-top: 50px;
  
}
.bookingForm .row{
    padding-left: 22px;
    padding-right: 22px;
}
.bookingtabs.nav-tabs .nav-link.active {
    border-bottom: 4px solid #212D7C;
    color: #212D7C
}

.dateBox i{
    color: #808080;
    margin-right: 18px;
    align-self: center;
}
.dateBox{
    position: relative;
    border: 1px solid #CACACA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 52px;
}
.bookingForm .form-group{
    margin-bottom: 40px;
}
.bookingForm .selectric-wrapper{
    border: 1px solid #CACACA;
    border-radius: 8px;
    height: 52px;
    float: none;
}
.dateBox .datepicker{
    border:0;
    align-self: center;
    width: 60%;
    margin: 0;

}

.dateBox .datepicker::placeholder{
    font-weight: 500;
font-size: 18px;
color:black
}
.bookingForm .selectric .button{
    font-size: 1.115em;
    color: #000000;
    top:10px
}
.bookingForm .selectric .label,.bookingForm  .selectric-items li{
    font-weight: 600;
font-size: 1.25em;
color: #000000;
}
.sideServices  li{
    padding: 18px 0; 
    border-bottom: 1px solid #EBEBEB;
}
.sideServices span{
    float: right;
    font-weight: 500;
font-size: 1.125em;

color: #000000;
}
.sideServices  li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
}
.sideServices {
    margin-bottom: 60px;
}
.bookingFormLabel{
    display: block;
    height: 23px;
}
.sideServices li label{
    float: left;
}
.roomsideBookingFooter{
    background: #F9F9F9;
border-radius: 0px 0px 12px 12px;
padding:33px 24px;
display: flex;
justify-content: space-between;
margin-top: 32px;

}
.roomsideBookingFooter span{
    font-weight: 500;
font-size: 1em;
color: #808080;
margin-bottom: 4px;
}
.roomsideBookingFooter{
    align-self: center;
}
.roomsideBookingFooter h6{
    font-weight: 600;
font-size: 2.25em;
color: #000000;

}
.bookingBtn{
    background: #212D7C;
border-radius: 8px;
Width:224px;
Height:66px;
font-weight: 700;
font-size: 1.125em;
text-transform: uppercase;
color: #FFFFFF;
border: 1px solid #212D7C;;
}
.bookingBtn span{
    color:white;
    margin: 0;
}
.bookingBtn:hover{
    background-color: transparent;
   
}
.bookingBtn:hover span{
    color: #212D7C;
}
.calendermeaning{
    margin-top: 25px;
}
.squre{
   width: 36px;
    height: 36px;
    border-radius: 6px;;
    background: #FFFFFF;
    align-self: center;
border: 1px solid #CACACA;

}
.blueSq{
   
    background: #212D7C;
}
.calendermeaning li{
    list-style: none;
    display: inline-flex;
    margin-right: 34px;
}
.calendermeaning span{
    font-weight: 500;
font-size: 1.125em;
color: #000000;
align-self: center;
margin-left: 12px;
}
.binkSq{
    background-color:  rgba(189, 24, 13, 0.12);;
}